<!-- fileupload html 만들기-->
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Council-GAN</title>    
</head>
  <body>
    <div class = "container">
      <div class="jumbotron mt-3">
        <h1>Council-GAN</h1>
          <A>Git Hub repository : </A> <A href="https://github.com/kmkwon94/ganilla-gpu"> Ganilla</A>
          <br>
          <A>Testing API : </A> <A href=""> on Ainize </A>
          <hr class="solid">
          <form action="/fileUpload" method="POST" enctype="multipart/form-data">
            <h1>Choose illustrator</h1>
            <label
              ><input type="radio" name="check_model" value="as" />Axel Scheffler</label
            >
            <label
              ><input type="radio" name="check_model" value="dm" />David McKee</label
            >
            <label
              ><input type="radio" name="check_model" value="kh" />Kevin Henkes</label
            >
            <label
              ><input type="radio" name="check_model" value="kp" />Korky Paul</label
            >
            <label
              ><input type="radio" name="check_model" value="mb" />Marc Brown</label
            >
            <label
              ><input type="radio" name="check_model" value="pp" />Patricia Polacco</label
            >
            <label
              ><input type="radio" name="check_model" value="rc" />Rosa Curto</label
            >
            <label
              ><input type="radio" name="check_model" value="sc" />Stephen Cartwright</label
            >
            <label
              ><input type="radio" name="check_model" value="sd" />Serap Deliorman</label
            >
            <label
              ><input type="radio" name="check_model" value="tr" />Tony Ross</label
            >
            <label
            ><input type="radio" name="check_model" value="mi" />Miyazaki Hayao</label
            >
          <h1>Upload </h1>
            <label for="source">Input image : </label>
            <input type="file" name="file" style="margin-right: 10px; margin-bottom: 10px;"/>
            <input type="submit" class="btn btn-primary btn-lg" style="margin-left: auto;" />
          </form>
          <div id ='resultBox' style="margin-left: auto; margin-right: auto;">
            <p id='errorbox'></p>
            <img id='resultImage' src="" alt="">
          </div>
      </div>
    </div>
  </body>
</html>


